@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}
.left-container {
  width: 290px;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  font-family: "Ubuntu", sans-serif;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 8px;
  padding: 20px 20px;
  margin: 8px 8px;
  gap: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.a-container {
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 16px;
}
.spotify-container {
  font-weight: 400;
  gap: 2px;
}
.a-container img {
  width: 30px;
}

/* Library and playbox design */
.playlist {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 8px;
  padding: 8px 8px;
  margin: 8px 8px;
  gap: 8px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  gap: 1rem;
}
.your-playlist {
  display: flex;
  justify-content: space-between;
}
.a-library {
  padding: 18px 18px;
  margin: 6px 0;
  gap: 12px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #a7a7a7;
  text-decoration: none;
}
.your-playlist img {
  width: 30px;
}
.a-library img {
  width: 30px;
}
.create-playlist {
  border-radius: 8px;
  padding: 1.25rem;
  color: white;
  background-color: #242424;
  font-size: 0.85rem;
}
.create-playlist h4 {
  font-weight: 500;
  font-size: 1rem;
}
.create-playlist p {
  margin: 1.25rem 0;
  font-weight: 400;
}
.create-playlist button {
  padding: 8px 15px;
  border-radius: 100px;
  font-weight: bolder;
  border: none;
}

/* Left content footer part */
.footer-part {
  padding: 15px;
}
.footer-content {
}
.content-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.content-1 a {
  font-size: 0.7rem;
  text-decoration: none;
  color: #a7a7a7;
}
.content-2 {
  margin: 18px 0;
  gap: 18px;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
}
.content-2 a {
  text-decoration: none;
  color: #a7a7a7;
}
.footer-part button {
  padding: 5px 10px;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border: 1px solid #a7a7a7;
  border-radius: 24px;
  background-color: #000000;
}
button img {
  width: 16px;
}
